/*

	common: layout for the header and footer
	
	UConn Web Template v4
	by UITS Web Development
	webdev@uconn.edu
	Mar 2010
	
*/

/* Mini-Reset-----------------------------------------------------------------*/
/* allows this file to act independently of a global reset file */
#main                            {
	margin: 0;
	padding: 0;
	outline: 0;
	font-weight: normal;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	background-image: none;
	font-style: normal;
	/* [disabled]text-decoration: none; */
	text-decoration: none;
	list-style-type: none;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#uc-head{font-size:10px;}
#uc-foot {font-size:11px;}

/* Accessibility -------------------------------------------------------------*/
/* hide accessibility skip links */
#uc-skip {
	position:absolute;
}
#uc-skip a {
	display:block;
	text-indent:-5000px;
}

/* Header--------------------------------------------------------------------*/
#uc-head-wrap {
	min-height:90px;
}
#uc-head {
	position:relative;
	padding-top:18px;
	min-height:72px;
}
#uc-head h1 a {
	font-family:"Adobe Garamond Pro", "Garmamond MT", Garamond, "Times New Roman", serif;
	padding-left:250px;
	display:block;
	width:450px;
}
#uc-head h1 a#uc-uconn {
	position:absolute;
	top:0;
	left:0;
	padding:0;
	width:auto;
}
#uc-head h1 #uc-secondary-title a {
	font-size:1.8em;
	margin-bottom:-7px;
	padding-bottom:1px;
}
#uc-head h1 #uc-website-title a {
	font-size:3.1em;
	padding-top:14px;
}
/* cufon line-height correcitons */
#uc-head-wrap.cufon #uc-head {
	padding-top:9px;
}
#uc-head-wrap.cufon #uc-head h1 #uc-secondary-title a {
	margin-bottom:-17px;
}
#uc-head-wrap.cufon #uc-head h1 #uc-website-title a {
	padding-top:14px;
}
/* long titles */
#uc-head-wrap.cufon #uc-head.long {padding-top:4px;}
#uc-head-wrap.cufon #uc-head.long h1 #uc-secondary-title a {margin-bottom:-19px;}
#uc-head-wrap.cufon #uc-head.long h1 #uc-website-title a {
	font-size:2.5em;
	padding-bottom:15px;
	padding-top:14px;
}

/* multi-line titles */
#uc-head-wrap.cufon #uc-head.multi {padding-top:9px;}
/*
#uc-head-wrap.cufon #uc-head.multi h1 {height:61px; overflow:hidden;}
*/
#uc-head-wrap.cufon #uc-head.multi h1 #uc-website-title a { padding-top:1px;}
#uc-head-wrap.cufon #uc-head.multi h1 #uc-secondary-title a { margin-bottom:-5px;}

/* multi + secondary */
/* multi + secondary */
#uc-head-wrap.multi-secondary #uc-head #uc-search {top:15px; }
#uc-head-wrap.multi-secondary {position:relative; top:;}
#uc-head-wrap.multi-secondary h1 a#uc-uconn {top:11px;}
/*
#uc-head-wrap.multi-secondary #uc-head.multi h1 {height:83px;}
#uc-head-wrap.multi-secondary {padding-bottom:15px;}
*/

/* Search --------------------------------------------------------------------*/

#uc-head #uc-search {
	position:absolute;
	top:6px;
	width:210px;
	left:740px;
	font:1.1em Helvetica, Arial, sans-serif;
	/* [disabled]padding-top:1em; */ /*KB removed 11px top padding*/
	padding-right:0;
}
#uc-head #uc-search fieldset {
	margin-left:;
}
#uc-head #uc-search li, #uc-head #uc-search ul {
	float:left;
}
#uc-head #uc-search ul {
	width:100%;
	padding-bottom:.5em;
	padding-left:0;
}
#uc-search #q {
	border:1px solid #000033;
	background-color:#E6EAF0;
	padding:5px;
	color:#1C6987;
	font-size:1.2em;
	width:153px;
	float:left;
}
#uc-search #sa {
	font-size:1.2em;
	padding-top:0px;
	height:28px;
	border:1px solid #000033;
	background-color:#1C6987;
	color:white;
	text-shadow: 2px 2px 2px #5c7da5;
	width:40px;
	text-align:center;
	display:block;
	line-height:1em;
	float:right;
	}

/* Foot --------------------------------------------------------------------*/

#uc-foot-wrap {
	min-height:100px;
}
#uc-foot {
	font-family:Helvetica, sans-serif;
	padding:30px 0;
}
#uc-foot a {
	text-decoration:none;
}
#uc-foot a:hover {
	text-decoration:underline;
}
#uc-foot li {
	float:left;
	margin-right:40px;
}

/* -----

Patch 4.1 - New styles for the new uconn identity. 

---- */

html body.uc-uconn-wrap #uc-head-wrap #uc-head h1 a,
html body.uc-uchc-wrap #uc-head-wrap #uc-head h1 a {
	padding-left:195px !important;
	font-family:'Proxima Nova', Helvetica, Arial, sans-serif !important;
	}
	html body.uc-uconn-wrap #uc-head-wrap #uc-head h1 a,
	html body.uc-uchc-wrap #uc-head-wrap #uc-head h1 a {
		padding-left:195px !important;
		font-family:'Proxima Nova', Helvetica, Arial, sans-serif !important;
		}
		html body.uc-uconn-wrap #uc-head-wrap #uc-head h1 a#uc-uconn,
		html body.uc-uchc-wrap #uc-head-wrap #uc-head h1 a#uc-uconn {
	height:62px !important;
	width:168px !important;
	display:block !important;
	margin-top:0px !important;/*KB removed top margin to even out uconn logo*/
	margin-left:5px !important;
	padding:0 !important;
			}
			html body.uc-uconn-wrap #uc-head-wrap #uc-head h1 a#uc-uconn img,
			html body.uc-uchc-wrap #uc-head-wrap #uc-head h1 a#uc-uconn img {
				height:62px !important;
				width:168px !important;
				}
		html body.uc-uconn-wrap #uc-head-wrap #uc-head h1 #uc-website-title,
		html body.uc-uchc-wrap #uc-head-wrap #uc-head h1 #uc-website-title {
			font-size:90%;
			}
			html body.uc-uconn-wrap #uc-head-wrap #uc-head h1 #uc-website-title a,
			html body.uc-uchc-wrap #uc-head-wrap #uc-head h1 #uc-website-title a {
				padding-top:13px;
				}
		html body.uc-uconn-wrap #uc-head-wrap #uc-head h1 #uc-secondary-title,
		html body.uc-uchc-wrap #uc-head-wrap #uc-head h1 #uc-secondary-title {
			font-size:85%;
			}
